
body {
    font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
    font-size: 18px;
    line-height: 1.45em;
    color: #666;
}

a {
    color: #00aff0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 15px;
}
h4 {
    font-size: 1.45rem;
}

ul, li {
    list-style-type: none;
}

input,
textarea,
button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


section {
    padding: 30px 0;
    margin: 0;
}

.color-primary {
    color: #00AFF0;
}

.color-secondary {
    color: #E9ECEF;
}
.padding-extended {
    padding: 7rem 0;
}
.padding-extra {
    padding: 3rem 10px;
}

.bg-primary {
    background-color: #00aff0;
}
.bg-secondary {
    background-color: rgba(233,236,239,1);
}
.bg-light {
    background-color: #E9ECEF;
}
.extended-margin {
    margin-top: 60px;
    margin-bottom: 150px;
}
small {
    margin: 0;
}
