/* BASIC */
   .section-search {
      background-color: #E9ECEF;
   }

/* LAYOUT*/
section {
    padding: 30px 0;
    margin: 0;
}

/* MODULES */
.block-distinct {
    background-color: #D9D9D9;
}
.block {
    padding: .65rem 1.2rem;
    border: 1px solid #DFDFDF;
}
/* NAVBAR */
.navbar {
    width: 90%;
    margin: auto;
    border: 1px solid #00aff0;
    min-height: 60px;
    margin-bottom: 1.85rem;
    background: #00aff0;
}

   .navbar a {
       color: #fff;
       font-size: 1.15rem;
       letter-spacing: -.5px;
       padding: 0 1.45rem;
   }

     .navbar .navbar-nav li a:hover,
     .navbar .navbar-nav li a:focus,
     .navbar .navbar-nav li a:active {
          color: #666;
      }

    .navbar a.navbar-brand:hover,
    .navbar a.navbar-brand:focus{
        color: #666;
    }

/* Jumbotron */
section {
    padding: 30px 0;
    margin: 0;
}
 
.section-jumbo {
  background-color: #138496;
  padding: 0;
}
   .jumbotron {
       background-image: url("../img/webDevelopmentWeb.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
       margin: 0;
       height: 100hv;
       width: 100%;
       position: relative;
       z-index: 1;
   }

   .jumbotron::after {
       position:absolute;
       z-index:-1;
       height: 100%;
       width: 100%;
       top: 0;
       left: 0;
       content: "";
       background: rgba(255, 255, 255, 0.5);
     }

   .section-jumbo h1, 
   .section-jumbo p {
     color: #000;
   }
  
/* section-search */
  .section-search {
     background-color: #E9ECEF;
   }
