
/* NAVBAR */
.navbar {
    width: 100%;
    margin: auto;
    border: 1px solid #00aff0;
    min-height: 60px;
    margin-bottom: 2rem;
    background: #00aff0;
}
   .navbar .navbar-nav a  {
       color: #fff;
       font-size: 1.35rem;
       letter-spacing: -.5px;
       padding: 10px auto;
   }
   .navbar a.navbar-brand {
       color: #fff;
       font-size: 1.55rem;
       letter-spacing: -1px;
       padding: 10px;
   }
   .navbar .navbar-nav li a:hover,
   .navbar .navbar-nav li a:focus,
   .navbar .navbar-nav li a:active {
       color: #99DFF9;
   }

   .navbar a.navbar-brand:hover,
   .navbar a.navbar-brand:focus{
      color: #99DFF9;
   }

   .navbar-toggler-icon {
			    color: #fff;
			}

/* JUMBOTRON SECTION */

.section-jumbo {
  padding: 0;
  background-color: #E4EEF2;

}
.jumbotron {
    background-image: url("../img/webDevelopmentWeb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100hv;
    width: 100%;
    position: relative;
    z-index: 1;
}
.jumbotron::after {
    position:absolute;
    z-index:-1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgba(27, 27, 27, 0.5);
  }

.section-jumbo h1{
    color: #99DFF9;
}
.section-jumbo p{
    color:#fff;
}

/* search */ 

.section-search {
    background-color: #E9ECEF;
}
   .btn-prime-color  { 
       background-color: #00aff0;
       color: #fff;
    }

/* carousel */
.carousel-inner .carousel-item img {
    border: 2px double #ccc;
    max-height: 300px;
}
/* Section-responsive */

 .section-responsive {
     background-color:#E9ECEF;
 }


 /* section cta */
 .section-cta {
     background-color: #00AFF0;
     color: #fff;
 }

 

/* About main  */

   .section-about--main  {
       background-color: #E9ECEF;
   }
  
   .btn-link:hover {
       color: #666;
   }

/* QUOTATIONS  */
  .quotations {
      font-size: 2rem;
      font-style: oblique;
      color: #99DFF9;
  }
  /* Login */

.section-login {
    background-image: url("../img/webDevelopment.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin: 0;
        width: 100%;
        z-index: 10;
        position: relative;
    }
    .section-login::after {
        position:absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: rgba(27, 27, 27, 0.8);
      }
.login-div {
    padding: 2rem 1rem;
    color: #fff;   
}
.login-col {
    padding: 2rem 1rem;
}

/* contact - map */
   .section-map {
       padding: 0;
    }

/* footer main */
  .footer-main {
     background-color: #2B5464;
     color: #fff;
  }
  .footer-main a {
      color: #fff;
      font-size: .85rem;
  }
  .footer-main a:hover,
  .footer-main a:focus {
      color: #ccc;
  }
  .footer-main li {
      line-height: 1.4rem;
  }

.nav-item .nav-link:hover {
    color: #666;
}


/* MODULES */

.heading-primary {
    color: #00aff0;
    border-bottom: 2px solid #00AFF0;
    margin-bottom: 25px;
}

.nav-tabs .nav-item  a.active {
    background-color: #00AFF0;
    color: #fff;
}
.services-block { background-color: #e9ecef; }

.block-distinct {
    background-color: #2B5464;
    color: #fff;
}

.block-primary {
    background-color: #00aff0;
    color: #fff;
}

.block-secondary {
     background-color: #E9ECEF;
     color: #000;
    }

.block {
    padding: .85rem;
    border: 1px solid #DFDFDF;
    margin-bottom: 0.85rem;
}

.services-block  {
    background-color: #E9ECEF;
}

.features-block i {
    font-size: 80%;
}

.padding-extended {
    padding: 7rem 0;
}
	.padding-extended-half {
			    padding: 3.5rem 0;
			}
.btn-contrast {
    background-color: #F04100;
    color: #fff;
}

	.btn-contrast:hover,
	.btn-contrast:focus {
            background-color: #F36632;
	    color: #fff;
	    border: 2px solid #F04100;
			}
			
		.btn-default:hover,
			.btn-default:focus {
			    background: #D1D4D7;
			    border: 2px solid #2B5464;
			}
ul.list { 
    padding: 0; 
    margin-top: 25px;
   }
.list li {
    line-height: 1rem;
    border-bottom: 1px dotted #ccc;
}
.list li:last-child {
    border-bottom: 0;
}
.list span {
    font-size: 1rem;  /* new */
}
.img-removed { display: none; }

.fa-primary {
    font-size: 1.44rem;
    color: #00aff0;
    padding: .635rem .845rem;
    margin-bottom: .65rem;
}

.fa-primary-border {
    border-radius: 5px;
    border: 1px solid #00aff0;
}
.fa-check {
    margin-right: 10px;
	font-size: 1rem;
        color: #00aff0;
       margin: .845rem auto;
}
.section-features .fa-check {
			    color: #fff;
			}
.padding-top-removed { padding-top: 30px }
.padding-top { padding-top: 30px; }

* blog */
		.post-meta i{
	   margin-left: 10px;
		   color: #00aff0;
		}
			.post-meta {
			    border-bottom: 1px solid #ccc;
			
			}

.comment-list li .blockquote {
			    font-size: 1rem;
			    
			}
			.comment-list li img {
			    padding: 10px;
			}

/*MEDIA QUERIES */

@media screen and (min-width: 556px){
    .navbar .navbar-nav a {
        font-size: 1rem;
        padding: 0 1rem;
    }
    .navbar a.navbar-brand {
        font-size: 1.25rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 695px) {
    .navbar .navbar-nav a  {
        font-size: 1.15rem;
        padding: 0 1.25 rem;
    }
    .navbar a.navbar-brand {
        font-size: 1.75rem;
        padding: 0 1.5rem;
    }
    .list li {
        line-height: 2em;
        border-bottom: 1px dotted #ccc;
    }
    .list li:last-child {
        border-bottom: 0;
    }
    .list span {
        font-size: 1.15rem;  /* new */
    }
   .fa-primary {
       font-size: 1.85rem;
       color: #00aff0;
       padding: .65rem .85rem;
       margin-bottom: .65rem;
   }

   .fa-primary-border {
    border-radius: 5px;
    border: 1px solid #00aff0;
   }
   .img-removed {
       display: block;
   }
}

